<div *ngIf="active" [hidden]="updating">
<h1 class="title">Add a Task</h1>
<form #taskForm="ngForm" (ngSubmit)="add(name.value, selectedPriority.value); name.value=''; ngModelName=''">
  <label for="name">Task Name</label>
  <input #name="ngModel" required type="text" placeholder="Enter task..."
  [(ngModel)]="ngModelName" name="name" id="name">
  <div [hidden]="name.valid || name.pristine"
     class="invalid">
    Name is required
  </div>
  <br>
  <label for="priority">Priority</label>
  <select [(ngModel)]="model.priority" required name="priority" #selectedPriority id="priority">
    <option *ngFor="let p of priority" [value]="p">{{p}}</option>
  </select><br>
  <button [disabled]="!taskForm.form.valid" type="submit">Add</button>
</form>

<div [hidden]="!submitted">
  You submitted: {{model.name}} at priority {{model.priority}}
</div>

<ul>
  <li *ngFor="let task of tasks">{{task.name}} | Priority: {{task.priority}}
          <button (click)="updating=true; model.name=task.name; model.id=task.id; model.priority=task.priority">Edit</button>
  </li>
  <li style="color: #bbb" *ngIf="ngModelName">{{ngModelName}} | Priority: {{model.priority}}</li>
</ul>
</div>

<div *ngIf="active" [hidden]="!updating">
  <h1 class="title">Edit a Task</h1>
  <form #taskUpdateForm="ngForm" (ngSubmit)="model.name = name.value; save(); name.value='';">
    <label for="name">Task Name</label>
    <input [ngModel]="model.name" #name="ngModel" required type="text" placeholder="Enter task..."
     [value]="model.name" name="name" id="name">
    <div [hidden]="name.valid || name.pristine"
       class="invalid">
      Name is required
    </div>
    <br>
    <label for="priority">Priority</label>
    <select [(ngModel)]="model.priority" required name="priority" #selectedPriority id="priority">
      <option *ngFor="let p of priority" [value]="p">{{p}}</option>
    </select><br>
    <button [disabled]="!taskUpdateForm.form.valid || taskUpdateForm.form.pristine" type="submit">Update</button>
  </form>
</div>
